<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>963921397662-3u5840g5eom3u1q83ilnlsbq0t2fq3r5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.963921397662-3u5840g5eom3u1q83ilnlsbq0t2fq3r5</string>
	<key>API_KEY</key>
	<string>AIzaSyC9J4M7f7bbcXb5csgfvVEEYQGjz7VPrdM</string>
	<key>GCM_SENDER_ID</key>
	<string>963921397662</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MoneyTrack</string>
	<key>PROJECT_ID</key>
	<string>moneytrack-dee60</string>
	<key>STORAGE_BUCKET</key>
	<string>moneytrack-dee60.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:963921397662:ios:32f1b9fe37838c3855f88f</string>
</dict>
</plist>